{
	email {$ACME_EMAIL}
}

{$EVOLUTION_DOMAIN} {
	encode zstd gzip
	reverse_proxy evolution-api:8080
	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
	}
}
